<!doctype html>
<html>
  <head>
    <title>About page</title>
  </head>
  <h1> My Bookshop Application </h1>
  <body>
    <p>I have created this bookshop application for my data and the web modual</p>
    <a href='./'>Home</a>
  </body>
</html>
