
<!doctype html>
<html>
  <head>
    <title>List  webpage!</title>
  </head>
  <body>
    <h3><%= listing.user %></h3><br>
    <h1><%= listing.title %></h1><br>
    <p>location: <br><%= listing.location %></p><br>
    <p>description: <br><%= listing.description %></p><br>
    <a href='./'>Home</a>
  </body>
</html>
