<html>
  	<head>
    		<title>Login</title>
  	</head>
	<body>
  	<h1> Login </h1>
		<p>please enter your personal details</p> 
		<form method="POST" action="/loggedin">
  			Username: <input id="usrName" type="text" name="usrName" /><br>
  			Password: <input id="password" type="text" name="password" /><br>
  			<input type="submit" value="OK" />
		</form>
		<a href='./'>Home</a>
  	</body>
</html>
