<!doctype html>
<html>
  <head>
    <title>Search page</title>
  </head>
  <h1> Search for the book you are looking for </h1>
  <body>
    <p>Enter what you are looking for then click OK</p>
    <form action="/search_listing" method="POST">
    	<input id="search-box" type="text" name="keyword" value="Default">
    	<input type="submit" value="OK" >
    </form>
    <a href='./'>Home</a>
 </body>
</html>