<html>
  	<head>
    	<title>Organisation</title>
      <link rel="stylesheet" href="/styles/organisation.css">
      <link rel="stylesheet" href="/styles/swup.css">
      <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
      <script defer src="/script.js"></script>
      <% if (error != null) { %>    
        <script type="text/javascript">
          window.alert(<%-JSON.stringify(error.errors[0].msg)%> + ' at ' + <%-JSON.stringify(error.errors[0].param)%>)
        </script>
      <% } %>
  	</head>
	<body>
		<header>
    	<h1><a id=title href='../'>HumbleStumble</a></h1>
    </header>
    <main id="swup" class="transition-fade">
    	<h1> Creat Organisation account </h1>
  		<form method="POST" action="/create_account/organisation_post">
    			Username: <br><input id="usrName" type="text" name="usrName" ><br>
    			Password: <br><input id="password" type="text" name="password" ><br>
          Email: <br><input id="email" type="text" name="email" ><br>
          Tell us about your charity (optional): <br> <textarea id="bio" name="bio"></textarea> <br>
    			<input class="button" type="submit" value="Submit" />
  		</form>
    </main>
  </body>
</html>
