<!doctype html>
<html>
  <head>
    <title>Creat account</title>
  </head>
  <h1>Are you creating an account as a?</h1>
  <body>
    <a href='/create_account/personal'>Volunteer</a>
    <h1>or</h1>
    <a href='/create_account/organisation'>Organisation</a>
  </body>
</html>
