<!doctype html>
<html>
  <head>
    <title>Creat account</title>
    <link rel="stylesheet" href="/styles/personal.css">
    <link rel="stylesheet" href="/styles/swup.css">
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <script defer src="/script.js"></script>
  </head>
  
  <body>
  	<header>
    	<h1><a id=title href='../'>HumbleStumble</a></h1>
    </header>
    <main id="swup" class="transition-fade">
      <a href='/create_account/personal'>Volunteer</a>
     	<a href='/create_account/organisation'>Organisation</a>
    </main>
  </body>
</html>
