body {  margin: 0;
	padding: 0;
	color: #ffe08a; 
	background:#3b424c; 
	text-align: center; }

header { text-align: center;
	height: 120px; 
	color: #ffe08a; 
	padding: 20px 20px 5px 20px;
	margin-bottom: 50px; 
	border-bottom-style: solid; 
	border-color:#e2712b; 
	background:#3b424c;  
	z-index: 1; }

a { padding: 5px 5px 5px 5px; 
	margin: 10px 10px 10px 10px; 
	border-top-style:solid; 
	border-bottom-style:solid; 
	border-color:#e2712b; 
	border-width: 2px; }

a:link { text-decoration: none; 
	color: #ffe08a; }

a:visited { text-decoration: none; 
	color: #ffe08a; }

a:hover { text-decoration: none; 
	color: #ffe08a; }

a:active { text-decoration: none; 
	color: #ffe08a; }

#title { top: 50%; border-style: none; }

#menu { padding: 10px; 
	z-index: 1; }

#map { position: absolute; 
	top: 145px; 
	bottom: 0; 
	width: 100%; 
	z-index: -1; }

#map a { border: none; }

#map a:link { text-decoration: none; 
	color: #e2712b; }

#map a:visited { text-decoration: none; 
	color: #e2712b; }

#map a:hover { text-decoration: none; 
	color: #e2712b; }

#map a:active { text-decoration: none; 
	color: #e2712b; }

form { text-align: center; }

.button { background-color: #3b424c; 
	color: #ffe08a; 
	padding: 3px 5px 3px 5px; 
	margin: 10px 10px 10px 10px; 
	border: none; 
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-color:#e2712b; 
	border-width: 2px; }

ul { padding: 10px; }

li { padding: 3px 5px 3px 5px; 
	margin: 10px 10px 10px 10px;
	list-style: none; }